body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: rgb(20, 22, 32);
    font-family: sans-serif;
}

h1 {font-size: 64px;}
h2 {font-size: 48px;}
h3 {font-size: 42px;}


.navbar {
    border: 2px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.navbar-navn h3 {
    font-size: 42px;
    margin: 10px;
}
.navbar-meny {
    list-style-type: none;
    display: flex;
}
.navbar-meny li {
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover {
    color: rgb(255, 234, 0);
}

.topTekst {

    color: white;
    text-align: center;
}

.omOssTekst {
    color: white;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;

}

#sushiPlate {
    width: 400px;
    max-width: 100%;
    max-height:100%;
}

.welcomePart {
    display: flex;
    justify-content: right;
}

#mainDish {
    width: 600px;
}

.menyPriser {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    width: 90%;
    /* Centers the container */
    margin: 0 auto;
}

.menyPriser > div {
    background-color: rgb(16, 19, 35);
    border: 2px rgb(39, 39, 58) solid;
    /* Baserer seg på størelsen til foreldre elementet */
    width: calc(33% - 8px);
    box-sizing: border-box;
}
